body
{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.video-background
{
	position: absolute;
	right: 0;
	bottom:0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	z-index: 100%;
	background-color: transparent;
.header{
	background: rgba(0,0,100,0.5);
	height: 100vh;
}	

}
.nav
{
	background: blue;
	height: 100px;
}
.menu
{
 float:right;
 list-style: none;
 margin: 20px;

}
.menu li
{
	display: inline-block;
	margin: 10px 5px;
}
.menu li a 
{
text-decoration: none;
color: darkblue;
padding: 5px 10px;
font-family: bold;
letter-spacing: 2px
border:1px solid #fff;

}
.menu li a:hover
{
	background: #fff;
	transition: .4s;
	color: #000;
		}

.loginbox
{
width: 320px;
height: 420px;
background: #000;
color:#fff;
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
 box-sizing: border-box;
 padding: 70px 30px;

}
.avatar
{
	width: 100px;
	height: 100px;
	border-radius:50%;
	position: absolute;
	top: -50px;
	left: calc(30% );

}
h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 30px;

}
.loginbox p
{
	margin: 0;
	padding:5px;
	font-weight: bold;

}
.loginbox input
{
	width: 100%
	margin-bottom:20px;

}
.loginbox input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color:#fff;
	font-size: 16px;
}
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background-color: #ffc107;
	color: #000;

}
.loginbox a[type="submit"]
{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkblue;

}
.loginbox a[type="submit"]: hover
{
	cursor: pointer;
	background-color: darkblue;
	
	color: #ffc107;
}
